body {
  background-color: #292B31;
  color: #FFFFFF;
  margin: 0;
  font-family: "Titillium Web","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
}

.App {
  text-align: center;
}

.container {
  padding: 0 50px;
  margin: 0 auto;
  max-width: 1040px;
}